{{ define "main" }}

<section class="section pb-0 pt-0">
  <div id="header" class="container text-center"></div>
</section>
<section class="pb-5">
  <div id="account" class="container">
    <main class="container-center text-center">
      <img src="/icons/icon.png" alt="" width="72" height="72" />
      <div id="preloader" class="preloader-wrapper">
        <div class="preloader">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </main>
  </div>
  <script>
    this.onload = function () {
      var render = uhtml.render;
      var html = uhtml.html;

      fetch("{{ site.Params.apiURL }}/api/account", {
        credentials: "include",
      })
        .then(async function (response) {
          const obj = await response.json();
          if (obj.status == "error") {
            render(
              document.getElementById("account"),
              html`<main class="container-center text-center">
                <form
                  action="{{ site.Params.apiURL }}/account/login"
                  method="post"
                >
                  <img
                    class="mb-3"
                    src="/icons/icon.png"
                    alt=""
                    width="72"
                    height="72"
                  />
                  <p class="lead">Sign in or create account</p>
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="name@example.com"
                    />
                    <label for="email">Email address</label>
                  </div>
                  <input
                    type="hidden"
                    name="returnUrl"
                    value=${window.location}
                  />
                  <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Sign in
                  </button>
                </form>
              </main>`
            );
            return;
          }
          var account = obj.data;
            render(
              document.getElementById("account"),
              html`<div class="row">
                <div class="col-lg-6">
                  <h4 class="mt-5">Subscription</h4>
                  <div class="list-group">
                    ${account.subscription && account.subscription.map(
                      (item) =>
                        html`<div
                          class="list-group-item list-group-item-action d-flex gap-3 py-3"
                          aria-current="true"
                        >
                          <div
                            class="d-flex gap-2 w-100 justify-content-between"
                          >
                            <div>
                              <h6 class="mb-0">${item[0]}</h6>
                              <p class="mb-0 opacity-90">${item[1]}</p>
                            </div>
                          </div>
                        </div>`
                    )}
                  </div>
                  <div class="tile mt-5 mb-1">
                    <div class="tile-content">
                      <h4 class="mt-1">Profile</h4>
                    </div>
                    <div class="tile-action"></div>
                  </div>
                  <div class="list-group">
                    ${account.profile.map(
                      (item) =>
                        html`<div
                          class="list-group-item list-group-item-action d-flex gap-3 py-3"
                          aria-current="true"
                        >
                          <div
                            class="d-flex gap-2 w-100 justify-content-between"
                          >
                            <div>
                              <h6 class="mb-0">${item[0]}</h6>
                              <p class="mb-0 opacity-90">${item[1]}</p>
                            </div>
                          </div>
                        </div>`
                    )}
                  </div>
                </div>
                <div class="col-lg-6">
                  <h4 class="mt-5">Metrics</h4>
                  <div class="list-group">
                    ${account.metrics && account.metrics.map(
                      (item) =>
                        html`<div
                          class="list-group-item list-group-item-action d-flex gap-3 py-3"
                          aria-current="true"
                        >
                          <div class="gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">${item[0]}</h6>
                              <div class="progress">
                                <div
                                  class="progress-bar"
                                  role="progressbar"
                                  style="${"width:calc(" +
                                  item[1] +
                                  "/" +
                                  item[2] +
                                  "*100%"}"
                                  aria-valuenow="${item[1]}"
                                  aria-valuemin="0"
                                  aria-valuemax="${item[2]}"
                                ></div>
                              </div>
                              ${item[0] == "Storage"
                                ? html`<p class="mb-0 opacity-90">
                                    ${(item[1] / 1024 / 1024 / 1024).toFixed(2)}
                                    GB /
                                    ${Math.round(item[2] / 1024 / 1024 / 1024)}
                                    GB
                                  </p>`
                                : html`<p class="mb-0 opacity-90">
                                    ${item[1]} / ${item[2]}
                                  </p>`}
                            </div>
                          </div>
                        </div>`
                    )}
                  </div>
                  <div class="tile mt-5 mb-1">
                    <div class="tile-content">
                      <h4 class="mt-1">Downloads</h4>
                    </div>
                    <div class="tile-action">
                        <a href="https://help.geosync.cloud/z-tools-app/software-download-and-update" class="btn btn-xs btn-primary">Setup Instructions</a>
                    </div>
                  </div>
                  <div class="list-group">
                    <div
                      class="list-group-item list-group-item-action d-flex gap-3 py-3"
                      aria-current="true"
                    >
                      <div class="gap-2 w-100 justify-content-between">
                        <div>
                          <div class="tile">
                            <div class="tile-content mt-1">
                              <h6 class="mb-0">GeoSync Cloud Publisher</h6>
                            </div>
                            <div class="tile-action">
                              <a href='https://geosync.blob.core.windows.net/publisher/Releases/Setup.exe' class="btn btn-xs btn-primary">Download</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="list-group-item list-group-item-action d-flex gap-3 py-3"
                      aria-current="true"
                    >
                      <div class="gap-2 w-100 justify-content-between">
                        <div>
                          <div class="tile">
                            <div class="tile-content mt-1">
                              <h6 class="mb-0">GeoSync Z-Tools</h6>
                            </div>
                            <div class="tile-action">
                              <a href='https://ztools.blob.core.windows.net/GsGOZToolsInstaller.zip' class="btn btn-xs btn-primary">Download</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h4 class="mt-5">Licenses</h4>
                  <div class="list-group">
                    ${account.licenses && account.licenses.map(
                      (item) =>
                        html`<div
                          class="list-group-item list-group-item-action d-flex gap-3 py-3"
                          aria-current="true"
                        >
                          <div class="gap-2 w-100 justify-content-between">
                            <div>
                              <h6 class="mb-0">${item[0]}</h6>
                              <p class="mb-0 opacity-90">Key: ${item[1]}</p>
                              <p class="mb-0 opacity-90">
                                Computer: ${item[2]}
                              </p>
                              <p class="mb-0 opacity-90">
                                Expiration: ${item[3]}
                              </p>
                              <p class="mb-0 opacity-90">
                                Web Share: ${item[4]}
                              </p>
                            </div>
                          </div>
                        </div>`
                    )}
                  </div>
                </div>
              </div>`
            );
            render(
              document.getElementById("header"),
              html`<div class="tile" style="margin-left:25px;padding-top:70px;">
                <div class="tile-content">
                  <h2
                    class="page-title slant slant-left slant-right"
                    style="width:150px;"
                  >
                    Account
                  </h2>
                </div>
                <div class="tile-action">
                  <button
                    class="btn btn-sm btn-outline-primary"
                    onclick=${signOut}
                  >
                    Sign out
                  </button>
                </div>
              </div>`
            );
        })
        .catch(function (e) {
          console.log(e);
          render(
            document.getElementById("account"),
            html`<main class="container-center text-center">
              <form
                action="{{ site.Params.apiURL }}/account/login"
                method="post"
              >
                <img
                  class="mb-3"
                  src="/icons/icon.png"
                  alt=""
                  width="72"
                  height="72"
                />
                <p class="lead">Sign in or create account</p>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="name@example.com"
                  />
                  <label for="email">Email address</label>
                </div>
                <input
                  type="hidden"
                  name="returnUrl"
                  value=${window.location}
                />
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                  Sign in
                </button>
              </form>
            </main>`
          );
        });
    };

    function signOut() {
      fetch(`{{ site.Params.apiURL }}/api/account/logout`, {
        credentials: "include",
      })
        .then(async function (response) {
          const obj = await response.json();
          console.log(obj);
          if (obj.status == "success") {
            console.log("test");
            window.location.reload();
          }
        })
        .catch(function (e) {
          console.log(e);
        });
    }
  </script>
</section>

{{ end }}
