{{ define "main" }}
{{ partial "page-header.html" . }}
<section class="section">
   <div class=container>
      <div class="row align-items-center mb-6 justify-content-center">
         <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
        <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
        <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
      </div>
     <div class="row align-items-center mb-6 justify-content-center">
         <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
        <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
        <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
      </div>
     <div class="row align-items-center mb-6 justify-content-center">
         <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
        <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
        <div class="col-lg-4 col-md-6 mb-6 mb-lg-0">
            <div style="padding:74.84% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/730619982?h=a8deadf613" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
         </div>
      </div>
   </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}
