{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div id="content" class="col-lg-7 mb-4 mb-lg-0">
        <form
          action="https://formspree.io/f/mdoqwjvo"
          method="POST"
        >
          <label>
            Your email:
            <input type="email" name="email">
          </label>
          <label>
            Your message:
            <textarea name="message"></textarea>
          </label>
          <!-- your other form fields go here -->
          <button type="submit">Send</button>
        </form>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
