{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Name">
            <label for="name">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="subject" placeholder="Subject">
            <label for="subject">Subject</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="message" id="message" class="form-control" placeholder="Message"></textarea>
            <label for="Message">Message</label>
          </div>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n `sendnow` }}</button>
        </form>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}